<footer class="footer">
  <p>All content &copy; 2020 NuoDB.</p>
  <p>Site built with <a href="https://antora.org/">Antora</a> and the <a href="https://antora.org/">Antora default ui</a>.</p>
</footer>
