<script>
rootPath = "{{siteRootPath}}"
</script>
<script src="{{{uiRootPath}}}/js/site.js"></script>
<script src="{{{uiRootPath}}}/js/vendor/autocomplete.min.js"></script>
{{#if (publicationready page)}}
<script src="{{{uiRootPath}}}/js/search/{{page.componentVersion.displayVersion}}.js"></script>
{{else}}
<script src="{{{uiRootPath}}}/js/vendor/flexsearch.js"></script>
<script src="{{{uiRootPath}}}/js/search/local-{{page.componentVersion.displayVersion}}.js"></script>
{{/if}}
