{{#if (publicationready page)}}
{{!-- IMPORTANT: action must match search redirect rule in netlify.toml --}}
<form id="search-form" action="/search/{{version2name page.componentVersion.displayVersion}}" method="get">
{{/if}}
<div class="nav-panel-search">
  <span class="nuo-autocomplete" id="autocomplete-container">
    <input type="hidden" name="display" value="html" />
    <input class="searchbox na-input" name="term" placeholder="Search documentation" />
  </span>
</div>
{{#if (publicationready page)}}
</form>
{{/if}}
<div class="nav-panel-menu is-active" data-panel="menu">
  <nav class="nav-menu">
    {{> header-links }}
    {{#if page.navigation}}
    <h3 class="title"><a href="{{relativize page.componentVersion.url}}">{{page.component.title}}</a></h3>
{{> nav-tree navigation=page.navigation breadcrumbs=page.breadcrumbs}}
    {{else}}
    <h3 class="title"><a href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a></h3>
    {{/if}}
  </nav>
</div>
