{{#if navigation.length}}
<ul class="nav-list">
  {{#each navigation}}
  <li class="nav-item{{#if (eq @root.page.url ./url)}} is-current-page{{/if}}{{#if (or (not ../level) (eq (lookup (at ../breadcrumbs ../level) 'url') ./url))}} is-active{{/if}}" data-depth="{{or ../level 0}}">
    {{#if ./content}}
    {{#if ./items.length}}
    {{assign "uniqueid" (uuid)}}<input class="nav-item-state" type="checkbox" id="nav-{{@root.uniqueid}}" {{#if (or (not ../level) (eq (lookup (at ../breadcrumbs ../level) 'url') ./url))}}checked {{/if}}/>
    <label class="nav-item-label" for="nav-{{@root.uniqueid}}">
    <span class="nav-item-toggle"><span class="nav-item-toggle-text">&gt;&gt;</span></span>
    {{/if}}
    {{#if ./url}}
    <a class="nav-link" href="
      {{~#if (eq ./urlType 'internal')}}{{{relativize ./url}}}
      {{~else}}{{{./url}}}{{~/if}}">{{{./content}}}</a>
    {{else}}
    <span class="nav-text">{{{./content}}}</span>
    {{/if}}
    {{#if ./items.length}}
    </label>
    {{/if}}
    {{/if}}
{{> nav-tree navigation=./items level=(increment ../level) breadcrumbs=../breadcrumbs}}
  </li>
  {{/each}}
</ul>
{{/if}}
