.nav-panel-search {
  display: inline-block;
  position: relative;
  padding: 0;
  width: 100%;
  height: var(--toolbar-height) !important;
  white-space: nowrap;
  box-sizing: border-box;
}

.nav-panel-search .nuo-autocomplete {
  display: inline-block;
  position: relative;
  margin: 1px 0 0 0;
  padding: 5px;
  width: 100%;
  height: calc(var(--toolbar-height)) !important;
  white-space: nowrap;
  box-sizing: border-box;
  border-bottom: 1px solid var(--toolbar-border-color);
}

.searchbox {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0 5px 0 2em;
  width: 100%;
  height: calc(var(--toolbar-height) - 11px) !important;
  border: 0;
  background-image: url(../img/magnifying-glass.svg);
  background-repeat: no-repeat;
  background-position: 5px center;
  background-size: 1.2em;
}

.searchbox:focus {
  outline: none !important;
  border: 2px solid var(--searchbox-input-border-color);
}

.searchbox .nuo-autocomplete {
  display: block;
  width: 100%;
  height: 100%;
}

.searchbox__wrapper {
  width: 100%;
  height: 100%;
  z-index: 999;
  position: relative;
}

.searchbox__input {
  display: inline-block;
  box-sizing: border-box;
  transition: box-shadow 0.4s ease, background 0.4s ease;
  border: 0;
  border-radius: 16px;
  box-shadow: inset 0 0 0 1px var(--searchbox-shadow-color);
  background: var(--searchbox-background-color) !important;
  padding: 0;
  padding-right: 80px;
  padding-left: 100px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  white-space: normal;
  font-size: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.searchbox__input::-webkit-search-decoration,
.searchbox__input::-webkit-search-cancel-button,
.searchbox__input::-webkit-search-results-button,
.searchbox__input::-webkit-search-results-decoration {
  display: none;
}

.searchbox__input:hover {
  box-shadow: inset 0 0 0 1px var(--searchbox-hover-color);
}

.searchbox__input:focus,
.searchbox__input:active {
  outline: 0;
  box-shadow: inset 0 0 0 1px var(--searchbox-placeholder-color);
  background: var(--searchbox-input-background-color);
}

.searchbox__input::-webkit-input-placeholder {
  color: var(--searchbox-placeholder-color);
}

.searchbox__input::-moz-placeholder {
  color: var(--searchbox-placeholder-color);
}

.searchbox__input:-ms-input-placeholder {
  color: var(--searchbox-placeholder-color);
}

.searchbox__input::-ms-input-placeholder {
  color: var(--searchbox-placeholder-color);
}

.searchbox__input::placeholder {
  color: var(--searchbox-placeholder-color);
}

.searchbox__submit {
  position: absolute;
  top: 0;
  margin: 0;
  border: 0;
  border-radius: 16px 0 0 16px;
  background-color: rgba(69, 142, 225, 0);
  padding: 0;
  width: 100px;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  right: inherit;
  left: 0;
}

.searchbox__submit::before {
  display: inline-block;
  margin-right: -4px;
  height: 100%;
  vertical-align: middle;
  content: '';
}

.searchbox__submit:hover,
.searchbox__submit:active {
  cursor: pointer;
}

.searchbox__submit:focus {
  outline: 0;
}

.searchbox__submit svg {
  width: 14px;
  height: 14px;
  vertical-align: middle;
  fill: #6d7e96;
}

.searchbox__reset {
  display: block;
  position: absolute;
  top: 42px;
  right: 42px;
  margin: 0;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  fill: rgba(0, 0, 0, 0.5);
}

.searchbox__reset.hide {
  display: none;
}

.searchbox__reset:focus {
  outline: 0;
}

.searchbox__reset svg {
  display: block;
  margin: 4px;
  width: 8px;
  height: 8px;
}

.searchbox__input:valid ~ .searchbox__reset {
  display: block;
  -webkit-animation-name: sbx-reset-in;
  animation-name: sbx-reset-in;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
}

@-webkit-keyframes sbx-reset-in {
  0% {
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes sbx-reset-in {
  0% {
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

.nuo-autocomplete.nuo-autocomplete-right .na-dropdown-menu {
  right: 0 !important;
  left: inherit !important;
}

.nuo-autocomplete.nuo-autocomplete-right .na-dropdown-menu::before {
  right: 48px;
}

.nuo-autocomplete.nuo-autocomplete-left .na-dropdown-menu {
  left: 0 !important;
  right: inherit !important;
}

.nuo-autocomplete.nuo-autocomplete-left .na-dropdown-menu::before {
  left: 48px;
}

.nuo-autocomplete .na-dropdown-menu .na-suggestions {
  position: relative;
  z-index: 1000;
  margin-top: 8px;
}

.nuo-autocomplete .na-dropdown-menu .na-suggestions a:hover {
  text-decoration: none;
}

.nuo-autocomplete .na-dropdown-menu .na-suggestion.na-cursor .nuo-docsearch-suggestion.suggestion-layout-simple {
  background-color: rgba(69, 142, 225, 0.05);
}

.nuo-autocomplete .na-dropdown-menu .na-suggestion.na-cursor .nuo-docsearch-suggestion:not(.suggestion-layout-simple) .nuo-docsearch-suggestion--content {
  background-color: rgba(69, 142, 225, 0.05);
}

.nuo-autocomplete .na-dropdown-menu [class^='na-dataset-'] {
  position: relative;
  border: solid 1px #d9d9d9;
  background: #fff;
  border-radius: 4px;
  overflow: auto;
  padding: 0 8px 8px;
}

.nuo-autocomplete .na-dropdown-menu * {
  box-sizing: border-box;
}

.nuo-autocomplete .nuo-docsearch-suggestion {
  display: block;
  position: relative;
  padding: 0 8px;
  background: #fff;
  color: #02060c;
  overflow: hidden;
}

.nuo-autocomplete .nuo-docsearch-suggestion--highlight {
  color: #174d8c;
  background: rgba(143, 187, 237, 0.1);
  padding: 0.1em 0.05em;
}

.nuo-autocomplete .nuo-docsearch-suggestion--category-header .nuo-docsearch-suggestion--category-header-lvl0 .nuo-docsearch-suggestion--highlight,
.nuo-autocomplete .nuo-docsearch-suggestion--category-header .nuo-docsearch-suggestion--category-header-lvl1 .nuo-docsearch-suggestion--highlight {
  padding: 0 0 1px;
  background: inherit;
  box-shadow: inset 0 -2px 0 0 rgba(69, 142, 225, 0.8);
  color: inherit;
}

.nuo-autocomplete .nuo-docsearch-suggestion--text .nuo-docsearch-suggestion--highlight {
  padding: 0 0 1px;
  background: inherit;
  box-shadow: inset 0 -2px 0 0 rgba(69, 142, 225, 0.8);
  color: inherit;
}

.nuo-autocomplete .nuo-docsearch-suggestion--content {
  display: block;
  float: right;
  width: 70%;
  position: relative;
  padding: 5.33333px 0 5.33333px 10.66667px;
  cursor: pointer;
}

.nuo-autocomplete .nuo-docsearch-suggestion--content::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
  width: 1px;
  background: #ddd;
  left: -1px;
}

.nuo-autocomplete .nuo-docsearch-suggestion--category-header {
  position: relative;
  border-bottom: 1px solid #ddd;
  display: none;
  margin-top: 8px;
  padding: 4px 0;
  font-size: 1em;
  color: #33363d;
}

.nuo-autocomplete .nuo-docsearch-suggestion--wrapper {
  width: 100%;
  float: left;
  padding: 8px 0 0 0;
}

.nuo-autocomplete .nuo-docsearch-suggestion--subcategory-column {
  float: left;
  width: 30%;
  text-align: right;
  position: relative;
  padding: 5.33333px 0 10.66667px 0;
  color: #a4a7ae;
  font-size: 0.9em;
  word-wrap: break-word;
}

.nuo-autocomplete .nuo-docsearch-suggestion--subcategory-column::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
  width: 1px;
  background: #ddd;
  right: 0;
}

.nuo-autocomplete .nuo-docsearch-suggestion--subcategory-inline {
  display: none;
}

.nuo-autocomplete .nuo-docsearch-suggestion--title {
  margin-bottom: 4px;
  color: #02060c;
  font-size: 0.9em;
  font-weight: bold;
}

.nuo-autocomplete .nuo-docsearch-suggestion--text {
  display: block;
  line-height: 1.2em;
  font-size: 0.85em;
  color: #63676d;
}

.nuo-autocomplete .nuo-docsearch-suggestion--no-results {
  width: 100%;
  padding: 8px 0;
  text-align: center;
  font-size: 1.2em;
}

.nuo-autocomplete .nuo-docsearch-suggestion--no-results::before {
  display: none;
}

.nuo-autocomplete .nuo-docsearch-suggestion code {
  padding: 1px 5px;
  font-size: 90%;
  border: none;
  color: #222;
  background-color: #ebebeb;
  border-radius: 3px;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.nuo-autocomplete .nuo-docsearch-suggestion code .nuo-docsearch-suggestion--highlight {
  background: none;
}

.nuo-autocomplete .nuo-docsearch-suggestion.nuo-docsearch-suggestion__main .nuo-docsearch-suggestion--category-header {
  display: block;
}

.nuo-autocomplete .nuo-docsearch-suggestion.nuo-docsearch-suggestion__secondary {
  display: block;
}

@media all and (min-width: 768px) {
  .nuo-autocomplete .nuo-docsearch-suggestion .nuo-docsearch-suggestion--subcategory-column {
    display: block;
  }
}

@media all and (max-width: 768px) {
  .nuo-autocomplete .nuo-docsearch-suggestion .nuo-docsearch-suggestion--subcategory-column {
    display: inline-block;
    width: auto;
    text-align: left;
    float: left;
    padding: 0;
    color: #02060c;
    font-size: 0.9em;
    font-weight: bold;
    opacity: 0.5;
  }

  .nuo-autocomplete .nuo-docsearch-suggestion .nuo-docsearch-suggestion--subcategory-column::before {
    display: none;
  }

  .nuo-autocomplete .nuo-docsearch-suggestion .nuo-docsearch-suggestion--subcategory-column::after {
    content: '|';
  }

  .nuo-autocomplete .nuo-docsearch-suggestion .nuo-docsearch-suggestion--content {
    display: inline-block;
    width: auto;
    text-align: left;
    float: left;
    padding: 0;
  }

  .nuo-autocomplete .nuo-docsearch-suggestion .nuo-docsearch-suggestion--content::before {
    display: none;
  }
}

.nuo-autocomplete .suggestion-layout-simple.nuo-docsearch-suggestion {
  border-bottom: solid 1px #eee;
  padding: 8px;
  margin: 0;
}

.nuo-autocomplete .suggestion-layout-simple .nuo-docsearch-suggestion--content {
  width: 100%;
  padding: 0;
}

.nuo-autocomplete .suggestion-layout-simple .nuo-docsearch-suggestion--content::before {
  display: none;
}

.nuo-autocomplete .suggestion-layout-simple .nuo-docsearch-suggestion--category-header {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  border: none;
}

.nuo-autocomplete .suggestion-layout-simple .nuo-docsearch-suggestion--category-header-lvl0 {
  opacity: 0.6;
  font-size: 0.85em;
}

.nuo-autocomplete .suggestion-layout-simple .nuo-docsearch-suggestion--category-header-lvl1 {
  opacity: 0.6;
  font-size: 0.85em;
}

.nuo-autocomplete .suggestion-layout-simple .nuo-docsearch-suggestion--category-header-lvl1::before {
  background-image: url('data:image/svg+xml;utf8,<svg width="10" height="10" viewBox="0 0 20 38" xmlns="http://www.w3.org/2000/svg"><path d="M1.49 4.31l14 16.126.002-2.624-14 16.074-1.314 1.51 3.017 2.626 1.313-1.508 14-16.075 1.142-1.313-1.14-1.313-14-16.125L3.2.18.18 2.8l1.31 1.51z" fill-rule="evenodd" fill="%231D3657" /></svg>');
  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;
}

.nuo-autocomplete .suggestion-layout-simple .nuo-docsearch-suggestion--wrapper {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}

.nuo-autocomplete .suggestion-layout-simple .nuo-docsearch-suggestion--duplicate-content,
.nuo-autocomplete .suggestion-layout-simple .nuo-docsearch-suggestion--subcategory-inline {
  display: none !important;
}

.nuo-autocomplete .suggestion-layout-simple .nuo-docsearch-suggestion--title {
  margin: 0;
  color: #458ee1;
  font-size: 0.9em;
  font-weight: normal;
}

.nuo-autocomplete .suggestion-layout-simple .nuo-docsearch-suggestion--title::before {
  content: '#';
  font-weight: bold;
  color: #458ee1;
  display: inline-block;
}

.nuo-autocomplete .suggestion-layout-simple .nuo-docsearch-suggestion--text {
  margin: 4px 0 0;
  display: block;
  line-height: 1.4em;
  padding: 5.33333px 8px;
  background: #f8f8f8;
  font-size: 0.85em;
  opacity: 0.8;
}

.nuo-autocomplete .suggestion-layout-simple .nuo-docsearch-suggestion--text .nuo-docsearch-suggestion--highlight {
  color: #3f4145;
  font-weight: bold;
  box-shadow: none;
}

.nuo-autocomplete {
  position: relative;
  display: inline-block;
  direction: ltr;
  width: 100%;
}

.nuo-autocomplete .na-input {
  position: relative;
  vertical-align: top;
}

.nuo-autocomplete .na-input,
.nuo-autocomplete .na-hint {
  width: 100%;
}

.nuo-autocomplete .na-hint {
  color: #999;
}

.nuo-autocomplete .na-dropdown-menu {
  position: relative;
  top: -6px;
  border-radius: 4px;
  margin: 6px 0 0 6px;
  padding: 0;
  text-align: left;
  height: auto;
  background: transparent;
  border: none;
  z-index: 999;
  max-width: 600px;
  min-width: 500px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 600px) {
  .nuo-autocomplete .na-dropdown-menu {
    margin: 6px 0 0;
    max-width: 100%;
    min-width: 100%;
  }
}

.nuo-autocomplete .na-dropdown-menu::before {
  display: block;
  position: absolute;
  content: '';
  width: 14px;
  height: 14px;
  background: #fff;
  z-index: 1000;
  top: -7px;
  left: 6px;
  border-top: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  transform: rotate(-45deg);
  border-radius: 2px;
}

.nuo-autocomplete .na-dropdown-menu .na-suggestion {
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.nuo-autocomplete .na-dropdown-menu .na-suggestion em {
  font-weight: bold;
  font-style: normal;
}

.nuo-autocomplete .na-dropdown-menu .na-suggestion .na-category {
  display: block;
  background-color: #fff;
  padding: 5px;
  border-bottom: 1px solid var(--color-aqua);
  font-weight: bold;
  font-size: 0.75em;
  color: var(--color-slate);
}

.nuo-autocomplete .na-dropdown-menu .na-suggestion .na-title {
  position: relative;
  display: block;
  background-color: #fff;
  padding: 10px 5px 5px 15px;
}

.nuo-autocomplete .na-dropdown-menu .na-suggestion.na-cursor .na-title {
  background-color: #b2d7ff;
}

.static-search-results {
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important;
}

.static-search-results li {
  margin: 0 0 1em 0 !important;
  padding: 0 !important;
}

.static-search-results li .separator {
  display: inline;
}

.static-search-results li .separator::after {
  content: '\00AB';
  color: var(--color-slate);
}

.static-search-results li.more {
  margin-top: 1em;
}

.static-search-results li.more::after {
  content: '\203A';
  font-size: 1.5em;
}

.static-search-results li .category {
  display: inline;
  color: var(--color-slate);
  font-size: 0.8em;
}
